.header{
    padding: 2rem clamp(1rem, 4.2vw, 5rem);
    display: flex;
    align-items: center;
    border: 3px solid red;
    width: 100vw;
}

.profile-picture{
    width: 2rem;
    height: auto;
}
.navbar{
    display: flex;
    flex: 1;
    justify-content: center;

}

.navbar-list{
    display: flex ;
    font-size: 1rem;
    gap: clamp(0.5rem, 3vw, 4rem);
}

.navbar-option{
    list-style: none;
    letter-spacing: 0.01em;
}

.navbar-option a{
    display: block;
    border-radius: 35px;
    padding: clamp(.5rem, 12vw, .7rem) clamp(.6rem, 2vw, 1.25rem);
}
.navbar-option a:hover{
    background-color: rgba(200, 211, 219, 0.701);
}
.navbar-option a:active{
    background-color: rgba(216, 225, 232, 0.701);
}