.header{
}

.navbar-container{
    display: flex;
    align-items: center;
}

.profile-picture{
    width: 2rem;
    height: auto;
}
.navbar{
    display: flex;
    flex: 1;
    justify-content: center;

}

.navbar-list{
    display: flex ;
    font-size: 1rem;
    gap: clamp(0.5rem, 1.5vw, 4rem);
}

.navbar-option{
    list-style: none;
    letter-spacing: 0.01em;
}

.navbar-option a{
    display: block;
    border-radius: 35px;
    padding: clamp(.5rem, 12vw, .7rem) clamp(.6rem, 2vw, 1.25rem);
}
.navbar-option a:hover{
    background-color: rgba(200, 208, 219, 0.384);
}
.navbar-option a:active{
    scale: 0.97;
}

.bar{
    margin-top: .5rem;
    border: 1px inset rgba(152, 152, 152, 0.426);
}